.carousel {
  width: 20rem;
  height: 30rem;
}

#myCarousel .carousel-indicators {
  margin: 1rem;
  width: 100%;
}

#myCarousel .carousel-indicators li {
  display: inline-block;
  width: 70px;
  height: 70px;
}
#myCarousel .carousel-indicators li img {
  display: block;
  width: 70px;
  height: 70px;
}

#myCarousel .carousel-outer {
  position: relative;
}

/* remove arrow sign in input type=number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.productdetail-quantity {
  width: 3rem;
}
